# Vercel Postgres (Neon) Connection Variables (Auto-injected by Vercel)
DATABASE_URL="postgresql://..."
DATABASE_URL_UNPOOLED="postgresql://..."
POSTGRES_URL="postgresql://..."
POSTGRES_PRISMA_URL="postgresql://..."
POSTGRES_USER="neondb_owner"
POSTGRES_HOST="..."
POSTGRES_PASSWORD="..."
POSTGRES_DATABASE="neondb"

# Optional Upstash Redis / Vercel KV
KV_REST_API_URL=""
KV_REST_API_TOKEN=""

# APP_URL
APP_URL="http://localhost:3000"
