# Vercel KV Environment Variables
# These are automatically provided by Vercel when you create a Vercel KV store
# in your project dashboard under the 'Storage' tab:
KV_URL="rediss://..."
KV_REST_API_URL="https://...upstash.io"
KV_REST_API_TOKEN="..."
KV_REST_API_READ_ONLY_TOKEN="..."

# GEMINI_API_KEY: Optional
GEMINI_API_KEY=""

# APP_URL
APP_URL="http://localhost:3000"
